<footer class="footer">
  <div class="container">
    <div class="footer-newsletter">
      <div class="footer-logo">
        YogoBloom
        <svg class="icon" width="83" height="24">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </div>
      <p class="footer-subscribe-label">
        Subscribe to our newsletter for the latest updates on our yoga clases
        and events.
      </p>
      <div class="footer-form-wraper">
        <form class="footer-subscribe-form">
          <input
            class="footer-subscribe-input"
            name="subscribe-email"
            id="subscribe-email"
            type="email"
            placeholder="E-mail"
          />
          <button class="footer-subscribe-btn" type="submit">Join</button>
        </form>
        <p class="footer-subscribe-policy">
          By subscribing, you consent to our Privacy Policy and agree to receive
          updates.
        </p>
      </div>
    </div>
    <div class="footer-link">
      <div class="footer-quick-links">
        <p class="footer-quick-links-title">Quick Links</p>
        <ul class="footer-quick-links-list">
          <li class="footer-quick-links-item">Yoga Classes</li>
          <li class="footer-quick-links-item">Team</li>
          <li class="footer-quick-links-item">Pricing</li>
          <li class="footer-quick-links-item">Contacts</li>
        </ul>
      </div>
      <div class="footer-media">
        <p class="footer-media-title">Connect With Us</p>
        <ul class="footer-media-list">
          <li class="footer-media-item">
            <svg class="icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-logo#icon-facebook"></use>
            </svg>
            Facebook
          </li>
          <li class="footer-media-item">
            <svg class="icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-logo#icon-instagram"></use>
            </svg>
            Instagram
          </li>
          <li class="footer-media-item">
            <svg class="icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-logo#icon-linkedin"></use>
            </svg>
            LinkedIn
          </li>
          <li class="footer-media-item">
            <svg class="icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-logo#icon-youtube"></use>
            </svg>
            YouTube
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-copyright">© 2025 Yoga Studio. All rights reserved.</p>
  </div>
</footer>
