<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="titel-gallery">Breathe in the Space</h2>
    <p class="page-gallery">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <div class="container-gallery">
      <ul class="foto-list-gallery">
        <li class="list-gallery">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/gallery/first_1x_pc.jpg  1x,
                /img/gallery/first_2x_pc.webp 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery/first_1x_tab.jpg 1x,
                /img/gallery/first_2x_tab.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery/first_1x_mob.jpg 1x,
                /img/gallery/first_2x_mob.jpg 2x
              "
            />
            <img
              class="img-gallery"
              src="/img/gallery/first_1x_pc.jpg"
              alt="Yoga"
            />
          </picture>
        </li>
        <li class="list-gallery">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/gallery/second_1x_pc.jpg  1x,
                /img/gallery/second_2x_pc.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery/second_1x_tab.jpg 1x,
                /img/gallery/second_2x_tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery/second_1x_mob.jpg 1x,
                /img/gallery/second_2x_mob.jpg 2x
              "
            />
            <img
              class="img-gallery"
              src="/img/gallery/second_1x_pc.jpg"
              alt="Yoga"
            />
          </picture>
        </li>
        <li class="list-gallery">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/gallery/third_1x_pc.jpg  1x,
                /img/gallery/third_2x_pc.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery/third_1x_tab.jpg 1x,
                /img/gallery/third_2x_tab.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery/third_1x_mob.jpg 1x,
                /img/gallery/third_2x_mob.jpg 2x
              "
            />
            <img
              class="img-gallery"
              src="/img/gallery/third_1x_pc.jpg"
              alt="Yoga Room"
            />
          </picture>
        </li>
        <li class="list-gallery">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/gallery/fourth_1x_pc.jpg  1x,
                /img/gallery/fourth_2x_pc.webp 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery/fourth_1x_tab.jpg 1x,
                /img/gallery/fourth_2x_tab.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery/fourth_1x_mob.jpg 1x,
                /img/gallery/fourth_2x_mob.jpg 2x
              "
            />
            <img
              class="img-gallery"
              src="/img/gallery/fourth_1x_pc.jpg"
              alt="Yoga Room"
            />
          </picture>
        </li>
        <li class="list-gallery">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/gallery/fifth_1x_pc.jpg  1x,
                /img/gallery/fifth_2x_pc.webp 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery/fifth_1x_tab.jpg 1x,
                /img/gallery/fifth_2x_tab.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery/fifth_1x_mob.jpg 1x,
                /img/gallery/fifth_2x_mob.jpg 2x
              "
            />
            <img
              class="img-gallery"
              src="/img/gallery/fifth_1x_pc.jpg"
              alt="Yoga"
            />
          </picture>
        </li>
        <li class="list-gallery">
          <picture>
            <source
              media="(min-width: 1336px)"
              srcset="
                /img/gallery/sixth_1x_pc.jpg  1x,
                /img/gallery/sixth_2x_pc.webp 2x
              "
            />

            <source
              media="(min-width: 768px)"
              srcset="
                /img/gallery/sixth_1x_tab.jpg 1x,
                /img/gallery/sixth_2x_tab.jpg 2x
              "
            />

            <source
              media="(max-width: 767px)"
              srcset="
                /img/gallery/sixth_1x_mob.jpg 1x,
                /img/gallery/sixth_2x_mob.jpg 2x
              "
            />
            <img
              class="img-gallery"
              src="/img/gallery/sixth_1x_pc.jpg"
              alt="Yoga"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
