<section class="gallery">
  <h2 class="titel-gallery">Breathe in the Space</h2>
  <p class="page-gallery">
    Step inside YogaBloom and feel the calm. Explore our serene studio and the
    peaceful moments our community shares during each session.
  </p>
  <div class="container-gallery">
    <ul class="foto-list-gallery">
      <li class="list-gallery">
        <picture>
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/First_1x_mob.jpg"
          />
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/First_2x_mob.jpg"
          />

          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/First_1x_tab.jpg"
          />
          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/First_2x_tab.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/First_1x_pc.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/First_2x_pc.webp"
          />
          <img src="/img/Gallery/First_1x_pc.jpg" alt="Yoga" />
        </picture>
      </li>
      <li class="list-gallery">
        <picture>
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Second_1x_mob.jpg"
          />
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Second_2x_mob.jpg"
          />

          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Second_1x_tab.jpg"
          />
          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Second_2x_tab.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Second_1x_pc.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Second_2x_pc.webp"
          />
          <img src="/img/Gallery/Second_1x_pc.jpg" alt="Yoga" />
        </picture>
      </li>

      <li class="list-gallery">
        <picture>
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Third_1x_mob.jpg"
          />

          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Third_2x_mob.jpg"
          />

          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Third_1x_tab.jpg"
          />
          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Third_2x_tab.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Third_1x_pc.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Third_2x_pc.webp"
          />
          <img src="/img/Gallery/Third_1x_pc.jpg" alt="Yoga Room" />
        </picture>
      </li>
      <li class="list-gallery">
        <picture>
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Fourth_1x_mob.jpg"
          />
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Fourth_2x_mob.jpg"
          />

          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Fourth_1x_tab.jpg"
          />
          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Fourth_2x_tab.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Fourth_1x_pc.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Fourth_2x_pc.webp"
          />
          <img src="/img/Gallery/Fourth_1x_pc.jpg" alt="Yoga Room" />
        </picture>
      </li>
      <li class="list-gallery">
        <picture>
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Fifth_1x_mob.jpg"
          />
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Fifth_2x_mob.jpg"
          />

          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Fifth_1x_tab.jpg"
          />
          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Fifth_2x_tab.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Fifth_1x_pc.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Fifth_2x_pc.webp"
          />
          <img src="/img/Gallery/Fifth_1x_pc.jpg" alt="Yoga" />
        </picture>
      </li>
      <li class="list-gallery">
        <picture>
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Sixth_1x_mob.jpg"
          />
          <source
            media="(max-width: 767px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Sixth_2x_mob.jpg"
          />

          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Sixth_1x_tab.jpg"
          />
          <source
            media="(max-width: 1335px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Sixth_2x_tab.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 1dppx"
            srcset="/img/Gallery/Sixth_1x_pc.jpg"
          />

          <source
            media="(min-width: 1336px)"
            and
            media="min-resolution: 2dppx"
            srcset="/img/Gallery/Sixth_2x_pc.webp"
          />
          <img src="/img/Gallery/Sixth_1x_pc.jpg" alt="Yoga" />
        </picture>
      </li>
    </ul>
  </div>
</section>
