<div class="modal-overlay" data-modal-10>
  <div class="backdrope" data-modal-backdrope-close-10></div>
  <div class="modal">
    <button class="modal-button-close" type="button" data-modal-close-10>
      <svg class="modal-button-close-icon" width="14px" height="14px">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-description-box">
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-description">One Session</p>
      <p class="modal-price">$10</p>
    </div>
    <form class="modal-form" action="#">
      <ul class="modal-form-list">
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-name-10">Your Name</label
          ><input
            class="modal-form-input"
            id="user-name-10"
            name="eser-name"
            type="text"
            placeholder="Name"
          />
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-email-10">Email</label
          ><input
            class="modal-form-input"
            id="user-email-10"
            name="user-email"
            type="email"
            placeholder="name@mail.com"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <p class="modal-form-text-invalid">Invalid email, try again</p>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-phone-10"
            >Phone number</label
          ><input
            class="modal-form-input"
            id="user-phone-10"
            name="user-phone"
            type="tel"
            placeholder="+380"
            minlength="13"
            maxlength="13"
            required
          />
          <p class="modal-form-text-invalid">Invalid phone number, try again</p>
        </li>
      </ul>
      <button class="modal-button-checkout" type="submit">
        Go to checkout
      </button>
    </form>
  </div>
</div>

<div class="modal-overlay" data-modal-65>
  <div class="backdrope" data-modal-backdrope-close-65></div>
  <div class="modal">
    <button class="modal-button-close" type="button" data-modal-close-65>
      <svg class="modal-button-close-icon" width="14px" height="14px">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-description-box">
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-description">One Session</p>
      <p class="modal-price">$65</p>
    </div>
    <form class="modal-form" action="#">
      <ul class="modal-form-list">
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-name-65">Your Name</label
          ><input
            class="modal-form-input"
            id="user-name-65"
            name="eser-name"
            type="text"
            placeholder="Name"
          />
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-email-65">Email</label
          ><input
            class="modal-form-input"
            id="user-email-65"
            name="user-email"
            type="email"
            placeholder="name@mail.com"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <p class="modal-form-text-invalid">Invalid email, try again</p>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-phone-65"
            >Phone number</label
          ><input
            class="modal-form-input"
            id="user-phone-65"
            name="user-phone"
            type="tel"
            placeholder="+380"
            minlength="13"
            maxlength="13"
            required
          />
          <p class="modal-form-text-invalid">Invalid phone number, try again</p>
        </li>
      </ul>
      <button class="modal-button-checkout" type="submit">
        Go to checkout
      </button>
    </form>
  </div>
</div>

<div class="modal-overlay" data-modal-80>
  <div class="backdrope" data-modal-backdrope-close-80></div>
  <div class="modal">
    <button class="modal-button-close" type="button" data-modal-close-80>
      <svg class="modal-button-close-icon" width="14px" height="14px">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-description-box">
      <h2 class="modal-title">Join Now!</h2>
      <p class="modal-description">One Session</p>
      <p class="modal-price">$80</p>
    </div>
    <form class="modal-form" action="#">
      <ul class="modal-form-list">
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-name-80">Your Name</label
          ><input
            class="modal-form-input"
            id="user-name-80"
            name="eser-name"
            type="text"
            placeholder="Name"
          />
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-email-80">Email</label
          ><input
            class="modal-form-input"
            id="user-email-80"
            name="user-email"
            type="email"
            placeholder="name@mail.com"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <p class="modal-form-text-invalid">Invalid email, try again</p>
        </li>
        <li class="modal-form-list-item">
          <label class="modal-form-label" for="user-phone-80"
            >Phone number</label
          ><input
            class="modal-form-input"
            id="user-phone-80"
            name="user-phone"
            type="tel"
            placeholder="+380"
            minlength="13"
            maxlength="13"
            required
          />
          <p class="modal-form-text-invalid">Invalid phone number, try again</p>
        </li>
      </ul>
      <button class="modal-button-checkout" type="submit">
        Go to checkout
      </button>
    </form>
  </div>
</div>
