<section class="yoga-classes container" id="yoga-classes">
  <div class="container">
    <p class="explore-text">Explore</p>

    <div class="yoga-classes-content">
      <h2 class="yoga-classes-title">
        Discover Our Most Popular Yoga Programs
      </h2>
      <p class="yoga-classes-text">
        Join our community and elevate your practice with our expertly designed
        yoga programs. Each course is tailored to meet various skill levels and
        personal goals.
      </p>
    </div>
    <ul class="yoga-classes-list">
      <li class="yoga-classes-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/yoga-classes/beginner_yoga_1x_pc.jpg  1x,
              /img/yoga-classes/beginner_yoga_2x_pc.webp 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/yoga-classes/beginner_yoga_1x_tab.jpg 1x,
              /img/yoga-classes/beginner_yoga_2x_tab.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/yoga-classes/beginner_yoga_1x_mob.jpg 1x,
              /img/yoga-classes/beginner_yoga_2x_mob.jpg 2x
            "
          />
          <img
            class="yoga-classes-img"
            src="/img/yoga-classes/beginner_yoga_1x_pc.jpg"
            alt="Beginner"
          />
        </picture>
        <div class="yoga-classes-content">
          <h3 class="yoga-classes-item-title">
            Beginner Yoga: Foundations for New Practitioners
          </h3>
          <p class="yoga-classes-text">
            Learn the basics of yoga in a supportive environment.
          </p>
        </div>
      </li>
      <li class="yoga-classes-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/yoga-classes/vinyasa_flow_1x_pc.jpg 1x,
              /img/yoga-classes/vinyasa_flow_2x_pc.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/yoga-classes/vinyasa_flow_1x_tab.jpg 1x,
              /img/yoga-classes/vinyasa_flow_2x_tab.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/yoga-classes/vinyasa_flow_1x_mob.jpg 1x,
              /img/yoga-classes/vinyasa_flow_2x_mob.jpg 2x
            "
          />
          <img
            class="yoga-classes-img"
            src="/img/yoga-classes/vinyasa_flow_1x_pc.jpg"
            alt="Vinyasa"
          />
        </picture>
        <div class="yoga-classes-content">
          <h3 class="yoga-classes-item-title">
            Vinyasa Flow: Energize Your Body and Mind
          </h3>
          <p class="yoga-classes-text">
            Experience a dynamic sequence that connects breath and movement.
          </p>
        </div>
      </li>
      <li class="yoga-classes-item item-large">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/yoga-classes/restorative_yoga_1x_pc.jpg 1x,
              /img/yoga-classes/restorative_yoga_2x_pc.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/yoga-classes/restorative_yoga_1x_tab.jpg 1x,
              /img/yoga-classes/restorative_yoga_2x_tab.jpg 2x
            "
          />

          <source
            media="(max-width: 767px)"
            srcset="
              /img/yoga-classes/restorative_yoga_1x_mob.jpg 1x,
              /img/yoga-classes/restorative_yoga_2x_mob.jpg 2x
            "
          />

          <img
            class="yoga-classes-img"
            src="/img/yoga-classes/restorative_yoga_1x_pc.jpg"
            alt="Restorative"
          />
        </picture>
        <div class="yoga-classes-content">
          <h3 class="yoga-classes-item-title">
            Restorative Yoga: Deep Relaxation and Healing
          </h3>
          <p class="yoga-classes-text">
            Unwind and rejuvenate with gentle poses and mindfulness.
          </p>
        </div>
      </li>
    </ul>
    <div class="button-wrapper">
      <a
        class="yoga-classes-anchor-link"
        href="#pricing"
        rel="noopener noreferrer"
        >Join <span class="yoga-classes-span-wrap">Now</span>
      </a>
    </div>
  </div>
</section>
