.yoga-helps {
  padding: 64px 16px;
  text-align: center;
  background: var(--color-scheme-3-background);
}

.helps-container {
padding: 0;
max-width: 100%;
margin: 0 auto;
}

.helps-title {
  margin: 0 auto;
  max-width: 343px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-scheme-1-text);
}

.helps-subtitle {
  max-width: 343px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
 margin: 0 auto;
  color: var(--color-scheme-1-text);
}

.helps-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.helps-item {
  text-align: center;
  border-radius: 12px;
  max-width: 343px;
  margin: 0 auto;
}

.helps-item-title {
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.01em;
  line-height: 1.4;
  color: var(--color-scheme-1-text);
  margin-top: 0;
  margin-bottom: 20px;
}

.helps-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-scheme-1-text);
}
.btn-helps {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 10px 24px;
  height: 46px;
  font-weight: 500;
font-size: 16px;
line-height: 1.6;
  cursor: pointer;
  border: 1px solid var(--color-hawkes-blue);
  background: var(--color-hawkes-blue);
  color: var(--color-neutral-darkest);
  width: 100%;
  max-width: 343px;
  height: 46px;
  margin: 0 auto;
}
.btn-helps:hover,
  .btn-helps:focus {
    background-color: var(--color-hawkes-blue-hover, #e0ecff);
    transform: scale(1.02);
  }

  .btn-helps:active {
    transform: scale(0.98);
  }
.btn-helps-mobile {
  display: inline;
}
.btn-helps-desktop {
  display: none;
}
/*  768px  */

@media screen and (min-width: 768px) {
  .helps-container {
    max-width: 768px;
    padding: 64px 32px;
  }

  .helps-subtitle {
    font-size: 18px;
    max-width: 640px;
    margin: 0 auto 48px;
  }

  .helps-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }
.helps-title{max-width: 704px;}
  .helps-item {
    width: calc((100% - 24px) / 2);
  }
  .helps-item-title {
    margin: 0 auto;
  }
  .btn-helps {
    padding: 10px 24px;
    min-width: 110px;
  }
  .btn-helps-mobile {
    display: none;
  }
  .btn-helps-desktop {
    display: inline;
    white-space: nowrap;
  }
}

/*  1336px  */

@media screen and (min-width: 1336px) {
  .helps-container {
    max-width: 1312px;
    padding: 64px;
    margin: 0 auto;
  }

  .helps-title {
    font-size: 52px;
  }

  .helps-subtitle {
    margin-bottom: 40px;
    font-size: 18px;
  }

  .helps-list {
    gap: 24px;
  }
  .helps-item {
    width: calc((100% - (24px * 3)) / 4);
  }

  .helps-item-title {
    font-size: 28px;
  }

  .btn-helps {
    margin-top: 40px;
    max-width: 110px;
  }
}