.footer {
  background-color: #dfebeb;
}

.footer .container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.sub-container {
  display: flex;
  flex-direction: column;
  gap: 48px;

  border: 0px solid #f8fbfe;
  border-radius: 16px;
  background: #f8fbfe;

  padding: 32px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-subscribe-label {
  font-family: Sarabun, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
}

.footer-subscribe-input {
  background-color: rgba(13, 11, 10, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  padding: 8px 12px;
  width: 100%;
  height: 42px;
  margin-bottom: 16px;

  font-family: Sarabun, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  font-family: Sarabun, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(13, 11, 10, 0.6);
}

.footer-subscribe-input:focus::placeholder {
  opacity: 0;
}

.footer-subscribe-input:focus-visible {
  outline: none;
}

.footer-input-error-text {
  display: none;

  font-family: Sarabun, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #b10000;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input:focus {
  border: 1px solid rgba(255, 255, 255, 0);
}

.footer-subscribe-input:not(:placeholder-shown):invalid {
  border-color: #b10000;
  margin-bottom: 8px;
  color: #b10000;
}

.footer-subscribe-input:not(:placeholder-shown):invalid
  ~ .footer-input-error-text {
  display: block;
  margin-bottom: 16px;
  opacity: 1;
}

.footer-subscribe-btn {
  background-color: rgba(13, 11, 10, 0.05);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  margin-bottom: 12px;

  font-family: Sarabun, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:focus,
.footer-subscribe-btn:hover {
  opacity: 0.5;
}

.footer-subscribe-btn:active {
  border: 1px solid #868584;
  background-color: transparent;
}

.footer-subscribe-btn:disabled {
  opacity: 0.2;
}

.footer-subscribe-policy {
  font-family: Sarabun, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #0d0b0a;
}

.footer-quick-links {
  margin-bottom: 40px;
}

.footer-quick-links-title {
  font-family: Sarabun, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  margin-bottom: 12px;
}

.footer-quick-links-item {
  padding: 8px 0;
  font-size: 14px;
}

.footer-quick-links-item .link {
  color: #0d0b0a;
}

.footer-media-title {
  font-family: Sarabun, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  margin-bottom: 12px;
}

.footer-media-item {
  font-family: Sarabun, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #0d0b0a;

  padding: 8px 0;
}
.footer-media-item .icon {
  margin-right: 12px;
  fill: #0d0b0a;
}

.footer-media-item .link {
  color: #0d0b0a;
  display: flex;
}

.footer-media-item .link:hover .icon {
  opacity: 0.5;
}

.footer-media-item .link:active .icon {
  opacity: 0.3;
}

.footer-copyright {
  font-family: Sarabun, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: #0d0b0a;
}

@media screen and (min-width: 768px) {
  .footer .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-subscribe-form {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  .footer-subscribe-input {
    min-width: 564px;
  }

  .footer-subscribe-btn {
    width: 78px;
  }

  .footer-link {
    display: flex;
    gap: 40px;
  }

  .footer-quick-links {
    width: 100%;
    margin: 0;
  }

  .footer-media {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1336px) {
  .footer .container {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .sub-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0px;
  }

  .footer-newsletter {
    margin-bottom: 24px;
  }

  .footer-subscribe-form {
    margin-bottom: 16px;
  }

  .footer-subscribe-btn,
  .footer-subscribe-input {
    margin-bottom: 0;
  }

  .footer-subscribe-input {
    max-width: 501px;
    width: 501px;
    margin-right: 16px;
  }

  .footer-subscribe-btn {
    width: auto;
  }

  .footer-quick-links,
  .footer-media {
    width: 165px;
    margin: 0;
  }
}
