.gallery {
  background-color: #f2fafa;
}

.gallery .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.titel-gallery {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  width: 335px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.page-gallery {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  width: 335px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.foto-list-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  row-gap: 24px;
  column-gap: 24px;
}

.list-gallery {
  width: calc((100% - 24px) / 2);
}

.img-gallery {
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@media screen and (min-width: 768px) {
  .gallery .container {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .titel-gallery {
    margin-bottom: 24px;
  }

  .page-gallery {
    margin-bottom: 80px;
  }

  .titel-gallery,
  .page-gallery {
    width: 704px;
    justify-content: center;
  }

  .list-gallery {
    width: 340px;
  }
}

@media screen and (min-width: 1336px) {
  .gallery .container {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .list-gallery {
    width: calc((100% - 48px) / 3);
  }
}
