
.page-header {
 }

 .container.header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;
 }

.header-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  border: none;
}

.header-logo {
  max-width: 84px;
}

.header-menu-btn-icon {
  fill: #0d0b0a;
}
.header-anchor-link {
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 4px 20px;
  min-width: 74px;
  background-color: #c2d9fc;



}